body {
	background: #656d78;
}

.section {
	min-height: 320px;
}

.section-1 {
	background: #3bafda;
}

.section-2 {
	background: linear-gradient(#3bafda 50%, #f6bb42 50%);
	position: relative;
	z-index: 0;
}

.section-2:before {
	background: #fff;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: skewY(-7deg);
	z-index: -1;
}

.section-3 {
	background: #f6bb42;
}
