body {
	background: #656d78;
}

.section {
	min-height: 320px;
}

.section-1 {
	background: #3bafda;
}

.section-2 {
	background: linear-gradient(#3bafda 50%, #f6bb42 50%);
	position: relative;
	z-index: 0;
}

.section-3 {
	background: #f6bb42;
}
